# Node
node_modules/
frontend/node_modules/
backend/node_modules/

# Environment variables
.env
backend/.env
frontend/.env

# Python
venv/
backend/venv/
__pycache__/
*.pyc

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
